* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* HEADER */
header {
    background-color: rgb(255, 145, 77);
    box-shadow: 0 0 1em rgb(255, 255, 255), 0 0 1em rgb(238, 94, 27);
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100%;
}

.logo-e-titulo {
    display: flex;
    align-items: center;
}

.logo-e-titulo h1 {
    font-size: 4vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-shadow:5px 5px 10px #ffe4a8;
}

#logo {
    width: 10vw;

}

.itens {
    display: flex;
    align-items:center;
    justify-items: space-around;
}

a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 2vw;
}

a:hover{
    font-size: 2vw;
}

a:active{
    font-size: 2vw;
    color:red;
}

.btn-login {
    display: flex;
    align-items: center;
    justify-items: flex-end;

}

.btn-login button {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-right: 10px;
    font-size: 20px;
    background-color: lightgoldenrodyellow;
    border-radius: 3px;
    cursor: pointer;
}

/* FOOTER */
footer {
    background-color: rgb(255, 145, 77);
    box-shadow: inset 0 0 1em rgb(255, 168, 128), 0 0 1em rgb(255, 255, 255);
}

#info {
    text-align: center;
    font-size: 3vw;
    text-shadow: 4px 3px 0px rgb(255, 172, 94), 9px 8px 0px rgba(0,0,0,0.15);
}

#icones {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.foto-info {
    width: 4vw;
    padding-bottom: 10px;
}
/* MAIN */
main {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

#login-e-cadastro {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
 
}
h2#frase {
    text-align: center;
    font-size: 4vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 185, 80);
    text-shadow:5px 5px 10px #ffe4a8;
}

.dados {
    display: flex;
    justify-content: center;
    padding: 10px;

}

div > label {
    font-size: 3vh;
}

div > input {
    border-radius: 3px;
    box-shadow: inset 0 0 1em gold, 0 0 1em rgb(243, 154, 38);
}

div > button {
    font-size: 20px;
    width: fit-content;
    height: fit-content;
    border-radius: 3px;
    box-shadow: inset 0 0 1em gold, 0 0 1em rgb(243, 154, 38);
    background-color: #f6d365;
    cursor: pointer;
}

/* container */
.container-anuncio {
    display: flex;
    row-gap: 20px;
    column-gap: 10px;
}

.foto-anuncio {
    width: 50vw;
    border-radius: 10px;
    box-shadow: 0 0 3em rgb(255, 136, 0);    
    margin: 10px;

}

.container-anuncio h2 {
    display: block;
    align-self: center;
    text-align: center;
    margin-right: 10px;
    font-size: 5vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    text-shadow:5px 5px 10px #ffe4a8;
}

@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* celulares */
    .logo-e-titulo h1 {
        font-size: 8vw;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        text-shadow:5px 5px 10px #ffe4a8;
    }

    .btn-login button {
        font-size: 10px;

    }

    div > button {
        width: fit-content;
        height: fit-content;
    }

    a{
        font-size: 2vw;
        padding: 4px;
        text-align: center;
    }
/* main */
    h2#frase {
        padding:10px;
        text-align: center;
        font-size: 8vw;

    }


    
    div > label {
        font-size: 4vw;
    }
  /* container */

  .container-anuncio {
    display: flex;
    row-gap: 1px;
    column-gap: 1px;
}

.foto-anuncio {
    width: 40vw;
    border-radius: 10px;
    box-shadow: 0 0 3em rgb(241, 142, 48);    
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-anuncio h2 {
    display: flex;
    flex-direction: column;
    font-size: 5vw;
}
    
    }


    @media screen and (min-device-width : 481px) and (max-device-width : 860px) {
        /* tablets */
        .logo-e-titulo h1 {
            font-size: 8vw;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: white;
            text-shadow:5px 5px 10px #ffe4a8;
        }

        div > button {
            width: fit-content;
            height: fit-content;
        }

        .foto-anuncio {
            width: 40vw;
        }

        .logo-e-titulo h1 {
            font-size: 8vw;
        }
        }
